{% block body %}
    <div id="container">
        <h3>Super Calculator </h3>

        {% for msg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" style="color: #AAAAAA; background-color: #AA3333">
                {{ msg }}
            </div>
        {% endfor %}

        <div id="calculator">
            {{ form_start(formCalculator) }}
            {{ form_widget(formCalculator) }}
            {{ form_end(formCalculator) }}
        </div>

        {% if response is defined %}
            <div>
                <p>The result is {{ response }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

